.heart-icon {
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 160px;
    left: 270px;
}

.occupation-level-name {
    padding-left: 5px;
}

.occupation-level-icon{
    width: 25px;
    height: 25px;
}

ion-button {
    --border-radius: 10px;
    --border-color: var(--button-color);
    --background: white;
    --color: var(--outlined-button-text);
    --border-width: 1px;
    --border-style: solid;
    text-transform: none;
}

ion-content {
    text-align: center;
}