ion-button {
    --border-radius: 10px;
    --border-color: var(--button-color);
    --background: white;
    --color: var(--outlined-button-text);
    --border-width: 1px;
    --border-style: solid;
    text-transform: none;

    i {
        padding-right: 5px;
        color: var(--button-color);
    }
}