<div>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>¡Quiero fiesta!</ion-card-title>
            <ion-card-subtitle>
              <p class="subtitle-text">
                Disfruta y celebra
              </p>
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>¡A merendar!</ion-card-title>
            <ion-card-subtitle>Merendá algo rico, tranqui</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>After office</ion-card-title>
            <ion-card-subtitle>Brinda con tus compañeros</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Cortando la semana</ion-card-title>
            <ion-card-subtitle>Brinda con tu gente</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Cena tranqui</ion-card-title>
            <ion-card-subtitle>Disfruta de una cena tranquila</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Almuerzo tranqui</ion-card-title>
            <ion-card-subtitle>Disfruta de un almuerzo tranquila</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
